---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Pablo Atencio - Dibujante Técnico"
  description="Contrata a Pablo Ramon Atencio para tus proyectos de dibujo técnico. Dibujante Técnico especializado en Autocad, Archicad y Revit 2D y 3D."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="servicios">
      <TitleSection>
        <Briefcase class="size-8" />
        Servicios
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Algunos Trabajos Realizados
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Misión y Visión
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
