---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
     title: "Servicios de Dibujante Técnico en Autocad, Archicad y Revid 2D y 3D",
    description:
      "Ofrezco servicios profesionales de dibujo técnico en las principales plataformas de software de diseño asistido por computadora, garantizando precisión y calidad en cada proyecto.",
  },
  {
    title: "Digitalización de planos de Arquitectura, Estructura e Instalaciones",
    description:
      "Convierto planos físicos en formato digital, abarcando áreas de arquitectura, estructuras e instalaciones, para facilitar su gestión, modificación y almacenamiento.",
  },
  {
    title: "Diseño y planimetría de viviendas obra nueva y obra menor",
    description:
      "Realizo el diseño y la planimetría detallada para proyectos de viviendas, tanto de obra nueva como de obra menor, cumpliendo con las normativas y requerimientos específicos.",
  },
  {
    title: "Regularizaciones y Trámites en general",
    description:
      "Me encargo de la gestión de regularizaciones y trámites generales relacionados con proyectos de construcción, asegurando el cumplimiento de la normativa vigente.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
